.topbox{
    background-color: green;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.box{
    height: 150px;
}
.container .box:nth-child(1){
    background-color: yellow;
    width: 24%;
}
.container .box:nth-child(2){
    width: 75%;
}
.bg-blue{
    background-color: skyblue;
}
.bg-red{
    background-color: red;
}